<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
</head>
<body>
    <h1>留言板</h1>
    <!--
    <div id="form">
    <form name="input" method="get">
    姓名:
    <input type="text" name="user" />
    <br />
    内容:
    <input type="text" name="comment" />
    <br />
    <input type="submit" value="提交" />
    </form>
    </div>
    -->
    <form name="comment_date" method="post">
        {% csrf_token %}
        <tr><td><lable for='id_name'>name:</lable></td><td>{{ form.name }}</td><td>{{ form.name.errors }}</td></tr>
        <br />
        <tr><td><lable for='id_comment'>comment:</lable></td><td>{{ form.comments }}</td><td>{{ form.comments.errors }}</td></tr>
        <br />
        <input type="submit" value="提交" />
    </form>
    <div id="history">
        <h2>留言历史信息</h2>
        {% for each in comment %}
        <li><p>{{each.name}} 留言于 ({{each.create_time}})</p>
        <div id="connect">
        <p>{{each.comments}}</p></li>
        {%endfor%}
        </div>
        </ol>
    </div>
</body>
</html>
