{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todolist-Create</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_style.css' %}" />

</head>
<body>

<!--
<h1>创建任务</h1>
<form for="list" method="post">
    {%csrf_token%}
    title : <input type="text" for="list" name="title" />{{ form.title.errors }}<br />
    content : <input type="text" name="content" />{{ form.content.errors}}<br />
    level : <input type="radio" name="level" value="0" />green
    <input type="radio" name="level" value="1" />blue
    <input type="radio" name="level" value="2" />yellow
    <input type="radio" name="level" value="3" />red
    <br />
    <input type="submit" value="提交" />
</form>
-->
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
                Create TodoList
			</h3>
			<form class="form-horizontal" role="form" for="list" method="post">
                {%csrf_token%}
				<div class="form-group">
					 <label class="col-sm-2 control-label">title</label>
					<div class="col-sm-10">
						<input type="text" for ="list" name="title" class="form-control" />{{ form.title.errors }}
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">content</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="content" />{{ form.content.errors}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							 <label><input type="radio" name="level" value="0" /><span class="label label-success">不紧急-不重要</span></label>
							 <label><input type="radio" name="level" value="1" /><span class="label label-info">不重要-很紧急</span></label>
							 <label><input type="radio" name="level" value="2" /><span class="label label-warning">很重要-不紧急</span></label>
                             <label><input type="radio" name="level" value="3" /><span class="label label-danger">很重要-很紧急</span></label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						 <button type="submit" class="btn btn-default">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>
