<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
</head>
<body>
<div>
<form action="" method="get">
<input type="submit" value="create" name="create" />
</form>
</div>
<!--
<form for="list" method="post">
    {%csrf_token%}
    title : <input type="text" for="list" name="title" />{{ form.title.errors }}<br />
    content : <input type="text" name="content" />{{ form.content.errors}}<br />
    level : <input type="radio" name="level" value="0" />green
    <input type="radio" name="level" value="1" />blue
    <input type="radio" name="level" value="2" />yellow
    <input type="radio" name="level" value="3" />red
    <br />
    <input type="submit" value="提交" />
</form>
-->

<div>
</div>

<div>
{%for each in data%}
{{each.title}}
{{each.content}}
{{each.level}}
    <div id="del_submit">
    <form method="get">
    <input type="hidden" name="del" value="{{each.id}}" />
    <input type="submit" name="sub" value="delete" />
    </form>
    </div>
<br />
{%endfor%}
</div>
</body>
</html>
